 body{
    background-color: #f5f5f5;
    font-family: 'noto sans jp';
 }
 header, footer{
   display: flex;
    justify-content: center;
    width: 500px;
    margin: 30px auto 0px auto;
 }
 main{
    width: 400px;
    margin: 30px auto 0px auto;
 }
.caja{
    background-color: #8AAFF9;
    padding: 50px;
    border-radius: 12px;
    border-color: black;
    box-shadow: 0px 0px 12px 3px #6186D0;
    /*box-shadow: 0px 4px 10px rgba(0.2, 0.2, 0.2, 0.2);*/
}
select, input{
    margin: 12px 10px 10px 10px;
    font-family: 'noto sans jp';
    background-color: #f5f5f5;
    border-radius: 6px;
    border-color: red;
}
